<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Rewriting the requests to Node.js server -->
    <rewrite>
      <rules>
        <rule name="NodeJS App" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Set default document for IIS to serve when no file is specified -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Ensure IIS does not block web server files (e.g., node_modules or others) -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>

  </system.webServer>
</configuration>
