/* src/components/Footer/footer.module.css */
.footer {
    position: fixed; /* يبقي الفوتر في أسفل الصفحة */
    bottom: 0; /* يحدد موقع الفوتر أسفل الصفحة */
    left: 0; /* يحدد موضع الفوتر إلى الجهة اليسرى */
    width: 100%; /* يمتد الفوتر عبر عرض الصفحة بالكامل */
    height: 80px; /* زيادة الارتفاع هنا إلى 80 بكسل (يمكنك ضبطه حسب الحاجة) */
    text-align: center; /* توسيط النص */
    background-color: #000; /* اللون الأسود */
    color: #fff; /* لون النص أبيض لتباين أفضل */
    padding: 15px; /* إضافة حشوة */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* ظل خفيف في الجزء العلوي للفوتر */
    display: flex; /* استخدام الفليكس لتوسيع الفوتر */
    align-items: center; /* محاذاة النص عموديًا في المنتصف */
    justify-content: center; /* محاذاة النص أفقيًا في المنتصف */
}
