/* components/Footer/footer.module.css */

.footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #38a169; /* لون الخلفية */
    display: flex;
    align-items: center;
    justify-content: center; /* محاذاة النص في المنتصف */
    color: white;
    z-index: 100; /* تأكد من أن الفوتر فوق العناصر الأخرى */
}

.instructions {
    white-space: nowrap; /* لمنع النص من الانقسام */
    font-weight: bold; /* لتوضيح التعليمات */
}
