/* التنسيق الأساسي */
.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 4px solid rgb(11, 235, 67);
  background-color: rgb(185, 240, 208);
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(15, 176, 36);
}

.menu {
  font-size: 40px;
  font-weight: bold;
  color: #202121;
  cursor: pointer;
  display: none;
}

.navLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navLink {
  font-size: 20px;
  font-weight: 600;
  margin: 0 12px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* إخفاء القوائم عند التصغير */
@media (max-width: 1080px) {
  .menu {
    display: block; /* عرض زر القائمة عند التصغير */
  }

  .navLinkWrapper {
    flex-direction: co
