/* لتنسيق الشعار */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: flex; /* عرض النص والأيقونة بشكل أفقي */
  align-items: center; /* محاذاة العناصر أفقياً */
}

.logo svg {
  margin-left: 8px; /* المسافة بين النص والأيقونة */
}

/* لتنسيق الزر الذي يظهر عند التمرير */
.right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute; /* لجعلها في أعلى اليمين */
  top: 20px; /* إبعاد الزر عن الحافة العلوية */
  right: 40px; /* محاذاة الزر إلى اليمين */
}

/* تنسيق الأزرار */
.btn {
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 21px;
  font-weight: 600;
  align-items: center;
}

.btn:hover {
  background-color: darkblue;
}

/* تنسيق القائمة الرئيسية */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* محاذاة العناصر لليسار */
  padding: 0 20px; /* إضافة مساحة من الجانبين */
  position: relative; /* لتحديد موقع العناصر بشكل ثابت */
}

/* تنسيق الرابط الرئيسي */
.navLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* محاذاة العناصر لليسار */
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* محاذاة العناصر لليسار */
}

.navLink {
  font-size: 20px;
  font-weight: 600;
  margin: 0 12px;
  cursor: pointer;
}

/* لتغيير نمط العناصر الفرعية (Submenu) */
.navLink.departments {
  position: relative;
}

/* قائمة القوائم الفرعية */
.subMenu {
  position: absolute;
  top: 100%; /* لوضع القائمة الفرعية أسفل العنصر */
  left: 0;
  display: none;
  background-color: rgb(227, 225, 225);
  list-style-type: none;
  padding-left: 20px;
  min-width: 200px;
}

.navLink.departments:hover .subMenu {
  display: block; /* عرض القائمة الفرعية عند التمرير فوق Departments */
}

.subMenu li {
  padding: 8px 0;
  color: #333;
}

.subMenu li a {
  color: inherit;
  text-decoration: none;
}

.subMenu li a:hover {
  background-color: #bbb;
}

/* استجابة للعرض الصغير */
@media (max-width: 1080px) {
  /* تغيير ترتيب العناصر ولكن مع المحافظة على مكانها */
  .navbar {
    flex-direction: row; /* الحفاظ على التنسيق الأفقي */
    justify-content: space-between; /* توزيع العناصر على المساحة المتاحة */
  }

  .right {
    position: absolute;
    top: 20px; /* مكان الزر في الأعلى */
    right: 40px; /* محاذاة الزر لليمين */
  }

  .navLinkWrapper {
    display: flex;
    align-items: center;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between; /* توزيع العناصر بشكل متوازن */
  }

  .btn {
    font-size: 18px;
    padding: 5px 8px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }

  .btn {
    font-size: 16px;
    padding: 4px 6px;
  }

  .right {
    right: 20px;
    top: 10px;
  }
}
